html,
body {
  background: #c3ffc850;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


iframe {
  display: block;
  margin: auto;
  margin-top: 20px;
}

h1 {
  background: #c3ffc8;
  color: #a85303;
}

h2 {
  background: #c3ffc8;
  color: #69340380;
  padding: 16px;
}

p {
  color: #000000;
  margin: auto;
  padding: 10px;
}

table {
  margin: auto;
}

ul {
  list-style: none;
}

nav.bot {
  padding: 10px;
}

form {
  padding: 10px;
}

footer {
    place-content: bottom;
    bottom: auto;
    background:#000000; color:#946868; padding:5px; text-align:center;
}

nav {
  font-family: sans-serif;
  font-weight: bold;
  background: #2196f3;
  width: 100%;
}

nav ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
}

nav a:hover {
  background: #1976d275;
}

nav a.active {
  background: #1976d2;
}
